<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(60650860, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
    });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/60650860" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <title>Электронный библиотечный справочник</title>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="header">
        <h1 id="title">Электронный библиотечный справочник</h1>
    </div>
    <div class="content">
        <div id="find">
            <input type="text" id="find-text" placeholder="Название книги, автор или направление">
            <button id="find-button" onclick="find()">
                <img src="../static/files/pictures/search.png" style="position:absolute; top: 28%; left: 30%; width: 40%;height: 44%;">
            </button>
        </div>
        <a href="/exam/oge">
            <button id="oge-button">
                <img src="../static/files/pictures/oge.png" style="position:absolute; width: 23%; height: 60%;left: 10%; top: 20%">
                ОГЭ
            </button>
        </a>
        <a href="/exam/ege">
            <button id="ege-button">
                <img src="../static/files/pictures/ege.png" style="position:absolute; width: 23%; height: 60%;left: 10%; top: 20%">
                ЕГЭ
            </button>
        </a>
        <a href="/exam/essay">
            <button id="essay-button">
                <img src="../static/files/pictures/essay.png" style="position:absolute; width: 15%; height: 50%;left: 10%; top: 25%">
                Сочинение
            </button>
        </a>
        <a href="/exam/section">
            <button id="section-button">
                <img src="../static/files/pictures/section.png" style="position:absolute; width: 15%; height: 50%;left: 10%; top: 25%">
                Все разделы
            </button>
        </a>
        <a href="/all">
            <button id="books-button">
                <img src="../static/files/pictures/books.png" style="position:absolute; width: 15%; height: 50%;left: 10%; top: 25%">
                Все книги
            </button>
        </a>
    </div>
<script>
    function find(){
        text = document.getElementById("find-text").value;
        if (text.length > 2){
            window.open("/find/" + encodeURIComponent(text), "_self");
        }
    }
</script>
</body>
</html>