<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Электронный библиотечный справочник</title>
    <style>
        body {
            background: #F5DEB3
        }
        h1, h2, h3{
            color: #800080;
            padding: 2px;
            text-align: center;
        }
        table{
            position:absolute;
            top:1px;
        }
        td{
            width:300px;
            text-align:center;
        }
        .content {
            width:100%;
            position: absolute;
            font-size: 100%;
        }
        .table{
            width:100%
        }
    </style>
</head>
<body>
    <div class="header">
        <h1> Электронный библиотечный справочник </h1>
        <h3> Здесь вы можете выбрать нужный вам раздел или направление </h3>
    </div>
    <div class="content">
        <table class="table">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td><h2>Все разделы</h2></td>
                        </tr>
                        {% for i in Section.keys() %}
                        <tr>
                            <td><a href="/book/{{i}}"><h4>{{Section[i]}}</h4></a></td>
                        </tr>
                        {%endfor%}
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td><h2>Все направления ОГЭ</h2></td>
                        </tr>
                        {% for i in OGEDirections.keys() %}
                        <tr>
                            <td><a href="/book/{{i}}"><h4>{{OGEDirections[i]}}</h4></a></td>
                        </tr>
                        {%endfor%}
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td><h2>Все направления ЕГЭ</h2></td>
                        </tr>
                        {% for i in EGEDirections.keys() %}
                        <tr>
                            <td><a href="/book/{{i}}"><h4>{{EGEDirections[i]}}</h4></a></td>
                        </tr>
                        {%endfor%}
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td><h2>Все направления итогового сочинения</h2></td>
                        </tr>
                        {% for i in EssayDirections.keys()%}
                        <tr>
                            <td><a href="/book/{{i}}"><h4>{{EssayDirections[i]}}</h4></a></td>
                        </tr>
                        {%endfor%}
                        <tr>
                            <td><h2>Список всех книг:</h2></td>
                        </tr>
                        <tr>
                            <td><a href="/all"><h4>Список</h4></a></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>