body {
  background: #F5DEB3
}
h1, h2, h3{
    color: #800080;
    padding: 2px;
    text-align: center;
}
table{
position:absolute;
top:100px;

}
td{
width:300px;
text-align:center;
}
.content {
  width:100%;
  position: absolute;
  font-size: 100%;
}
.table{
width:100%;
top:600px;
}
